@import '../../../assets/styles/size.scss';

.header {
  height: $navHight;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.main {
  padding-top: $navHight;
  height: 100vh;
  overflow: auto;
}
