.play_lines {
  z-index: 101;
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  height: 25%;
  border-radius: 8px;
  padding: 2% 3%;
  background-color: rgba(59, 59, 59, 0.6);
}

.name {
  color: #f87491;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 1%;
}

.text {
  color: #fff;
  font-size: 90%;
  overflow: hidden;
  height: 70%;
}

.play_lines::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.play_tool ul {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.play_tool li {
  list-style: none;
  color: #fff;
  font-size: 80%;
  cursor: pointer;
}

.play_tool li:hover {
  color: #33b6ee;
}

.play_tool a {
  color: #fff;
  font-size: 80%;
}

.play_tool a:hover {
  color: #33b6ee;
}
