.play_lines {
  z-index: 101;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  padding: 2% 20%;
  padding-bottom: 1%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    rgba($color: #000000, $alpha: 0.1),
    rgba($color: #000000, $alpha: 0.8)
  );
  display: flex;
  flex-direction: column;
  &:hover {
    .play_tool ul {
      opacity: 1;
    }
  }
}

.lines {
  flex: 1;
}

.name {
  color: #f87491;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 1%;
}

.text {
  color: #fff;
  font-size: 90%;
  overflow: hidden;
}

.play_lines::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.play_tool ul {
  transition: 0.2s ease-in;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}

.play_tool li {
  height: 20px;
  list-style: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  a {
    font-size: 16px;
    line-height: 20px;
  }
}

.play_tool li:hover {
  color: #33b6ee;
}

.play_tool a {
  color: #fff;
  font-size: 80%;
}

.play_tool a:hover {
  color: #33b6ee;
}
