@import '../../assets/styles/color.scss';
.topNav {
  height: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: rgba($color: #fff, $alpha: 0.8);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 20px;
}

.avatar {
  cursor: pointer;
}

.title {
  cursor: pointer;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $theme;
  a {
    &:hover {
      color: $theme_hover;
    }
  }
}

.menu_btn {
  cursor: pointer;
  margin: 0 20px;
  font-size: 21px;
}
