@import '../../assets/styles/color.scss';
.topNav {
  height: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: rgba($color: #fff, $alpha: 0.8);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  cursor: pointer;
}

.title {
  cursor: pointer;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $theme;
  a {
    &:hover {
      color: $theme_hover;
    }
  }
}

.iconBtn {
  transition: 0.2s ease-in;
  cursor: pointer;
  font-size: 21px;
  padding: 10px;
  border-radius: 50%;
  &:hover {
    background-color: #f0f0f0;
  }
}

.menu_btn {
  @extend .iconBtn;
  margin: 0 20px;
  font-size: 21px;
}

.actionIcon {
  @extend .iconBtn;
  margin-right: 20px;
  padding: 10px;
}

.searchGroup {
  display: flex !important;
  width: 400px;
}

.searchInput {
  flex: 1;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.searchBtn {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  width: 50px !important;
}
