@import '../../../../assets/styles/size.scss';
.main {
  display: flex;
  height: 100%;
}

.tree {
  flex: 1;
  height: 100%;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  border-radius: 8px;
}

.setting {
  width: 300px;
  height: 100%;
  padding: 15px;
  margin-left: 20px;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  border-radius: 8px;
}

.settingHeader {
  display: flex;
  justify-content: space-between;
}

.formMain {
  margin-top: 40px;
}
