html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
dl {
  margin: 0;
  list-style: none;
  padding: 0;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.blueBtn {
  border-color: #1677ff;
  color: #1677ff;
}

.ant-tag {
  border-radius: 50px;
  padding: 2px 12px;
  &:hover {
    border-color: #1677ff;
  }
}

.rhap_container {
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cfd0cf;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f3;
}
