.btnWapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 20px;
  button {
    margin-left: 20px;
  }
}

.hiddenType {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
