.banner {
  width: 100%;
  height: 10vw;
  background: 50% / cover fixed no-repeat;
}

.content {
  width: 1200px;
  margin: auto;
}

.avatar {
  transform: translateY(-20px);
}

.user_info_cover {
  display: flex;
}
