.banner {
  width: 100%;
  height: 10vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(211, 211, 211);
}

.content {
  width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.top_info {
  display: flex;
  justify-content: space-between;
}

.avatar {
  transform: translateY(-20px);
}

.user_info_cover {
  display: flex;
}

.user_info {
  margin-top: 10px;
  margin-left: 20px;
}

.nickname {
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
}

.top_info_action {
  margin-top: 40px;
}

.introuduce {
  font-size: 14px;
  margin-top: 10px;
  max-width: 800px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.btnWapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 20px;
  button {
    margin-left: 20px;
  }
}

.infoTop {
  display: flex;
  align-items: center;
}

.avatarCover {
  position: relative;
  .uploadInput,
  .mask {
    transform: translateY(-20px);
    border-radius: 50%;
  }
  &:hover {
    .mask {
      opacity: 1;
    }
  }
}

.bannerMain {
  position: relative;
  &:hover {
    .mask {
      opacity: 1;
    }
  }
}

.uploadInput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.mask {
  transition: 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    margin: auto;
  }

  .banner {
    height: 15vw;
  }
}

.follow {
  margin-top: 5px;
  font-size: 14px;
}

.follow {
  color: #40a9ff;
  margin-right: 20px;
}

.fans {
  color: #ff85c0;
}
