.main {
  height: 100vh;
  width: 100vw;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    // filter: blur(10px);
    background: url(../../../assets/img/bg1.png) 50% / cover fixed no-repeat;
  }
}

.logo {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  a {
    color: #fff;
    &:hover {
      color: #1890ff;
    }
  }
}

.info {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-left: 5px;
}

.wapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 510px;
  padding: 40px 56px;
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.title {
  color: #323232;
  font-size: 36px;
  font-weight: 700;
}

.tip {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.btn_wapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* 媒体监听 */
@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .left {
    display: none;
  }
  .wapper {
    width: 100vw;
    height: 100vh;
    display: block;
  }
  .card {
    width: 100vw;
    height: 100vh;
  }
}
