.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 15px;
  overflow: auto;
}

.item {
  position: relative;
  margin: 30px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #e6f4ff;
    border-radius: 8px;
  }
}

.fileIcon {
  font-size: 100px;
  color: #fadb14;
}

.musicIcon {
  @extend .fileIcon;
  color: #4096ff;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.itemText {
  text-align: center;
  font-size: 14px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.imgStyle {
  max-width: 100px;
  max-height: 100px;
}

.tag {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 5px;
}
