@import '../../../assets/styles/size.scss';
.main {
  height: 100%;
  padding: 10px;
  position: relative;
}

.navMenu {
  transition: 0.2s ease-in;
  width: 165px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  position: fixed;
  left: 0;
  top: $navHight;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navMenuCollapsed {
  @extend .navMenu;
  width: 80px;
}

.contain {
  transition: 0.2s ease-in;
  height: 100%;
}

.collapsedBtn {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  margin-top: 20px;
  flex-direction: column;
}

.playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
