.main {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
}

.mask {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 1;
  }
}
